{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' - login' }}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{ 'login.label' | trans }}</h1>
    <label for="inputUsername">{{ 'username.label' | trans }} :</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">{{ 'password.label' | trans }} :</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        {{ 'sign_in.label' | trans }}
    </button>
</form>
{% endblock %}
